<div class="c_center">
    <div class=".container">
        <!-----Inicio----->
        <div class="row c_inicio">
            <div class="row c_tradi_escanda">
                <div class="col-6 c_te_aling_c">
                    <h2 style="margin-top: 20px; font-weight: bold;">Precios</h2>
                    <img src="img/01 Pizzas clasicas.png" class="imgsabores_1" alt="Sabores"><!--------------------------------------------------HOLAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </div>
                <div class="col-6 c_te_aling_c">
                    <img src="img/02 Especiliadades.png" class="escandimg1" alt="Escand">
                </div>
            </div>
            <div class="row c_infoPedir">
                <div class="col-12">
                <img src="img/03 Ingrediente y orilla.png" class="escandimg2" alt="Escand">
                <p class="t_infoPedir">Comunicate a nuestro WhatsApp y pide cualquier sabor tradicional<br>o arma tu pizza con los ingredientes del menú<br>
                <img src="svg/wa_logo.svg" class="ci_wa_logo"><br><FONT size="12px"><a  class="num">55 7460 0823</a></FONT>
                </p>
                </div>
            </div>
        </div>
        <!---------------------------------------------------------------->
        <!-----Menu de Ingredientes----->
        <div class="row c_menu">
            <div class="col-6">
                <!--Especialidades-->
                <div class="row t_titulo_row">
                    <h2>Especialidades</h2>
                </div>
                <div class="row-12 ci_especial">
                    <img src="img/Menu de especialidades.jpg" class="especial" alt="Escand" style="width:100%"> <!--------------------------------------------------HOLAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                </div>
                <!------------------>
            </div>
            <div class="col-6">
                <!--Ingredientes-->
                <div class="row t_titulo_row">
                    <a name="Menu"><h2>Menú de Ingredientes</h2></a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <a><b>INGREDIENTE <FONT COLOR="green">Disponible</b></FONT><img src="svg/bool_icon_true.svg" class="checklist"></a>
                    </div>
                    <div class="col-4">
                        <a><b>INGREDIENTE <FONT COLOR="red">Agotado</b></FONT><img src="svg/bool_icon_false.svg" class="checklist"></a>
                    </div>
                    <div class="col-2"></div>
                </div>
                <hr>
                <script>
                    num_ingredientes = 0;
                    ingrediente = ["Piña", "si", "Jamón", "si", "Elote", "si", "Champiñones", "si", "Pepperoni", "si", "Salchicha", "si",
                    "Chorizo", "si", "Jitomate", "si", "Tocino", "si", "Frijoles", "si", "Pimiento", "si", "Cebolla", "si",
                    "Atún", "si", "Q. Americano", "si", "Q. Philadelphia", "si", "Fresa", "si", "Duraznos", "si", "Agüacate", "si",
                    "Aceitunas", "si","Jalapeños", "si"];
                    images_ingredientes =["ruta1"];
                    for(j=0; j<=4; j++){
                        document.write("<div class='row c_row_ingredientes'>");
                        for(i=0; i<4; i++){
                            document.write("<div class='col-3 c_ingrediente' alt='ingrediente"+i+"'><a><FONT size='-1'><b>"+ingrediente[(i*2)+(j*8)]+"</b></FONT></a>");
                            if(ingrediente[(2*i)+(j*8)+1] == "si"){
                                document.write("<img src='svg/bool_icon_true.svg' alt='checklist_"+ingrediente[(i*2)+(j*8)]+"'>");}else{
                                document.write("<img src='svg/bool_icon_false.svg' class='checklist"+ingrediente[i+(j*8)]+"'>");}
                            document.write("<img src='img/sabores/Sab"+(num_ingredientes+1)+".png' class='ci_ingrediente' alt='img_"+ingrediente[(i*2)+(j*8)]+"'></div>");
                            num_ingredientes++;
                            if(num_ingredientes == 20){break;}}
                        document.write("</div>");
                    }
                </script>
                <!------------------>
            </div>
        </div>
        <!---------------------------------------------------------------->
        <!-----Pedir----->
        <div class="row c_inicio">
            <div class="row t_titulo_row">
                <a name="Pedir"><h2>Realiza tu pedido</h2></a>
            </div>
            <div class="row c_infoPedir">
                <p class="t_infoPedir">Esta función aún no esta en funcionamiento. Para realizar tu pedido:</p>
            </div>
            <div class="row c_infoPedir">
                <p class="t_infoPedir">Comunicate a nuestro WhatsApp y pide cualquier sabor tradicional o arma tu pizza<br>
                <img src="svg/wa_logo.svg" class="ci_wa_logo"><br><FONT size="12px"><a  class="num">55 7460 0823</a></FONT>
                </p>
            </div>
        </div>
        <!---------------------------------------------------------------->

    </div>
</div>