.ProductListRow {
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(94, 94, 94, 0.528);
}

.ProductListCol {
    margin: 10px;
}

.ProductListCol > .div-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ProductListCol > .div-button > .btn-outline-light {
    background-color: #9fe4ff;
    color: black;
}

.card-title {
    font-size: clamp(0.8rem, 1.2vw, 2.5rem);
}

.card-subtitle {
    margin-bottom: 3px;
    font-size: clamp(0.5rem, 1vw, 2.3rem);
}

.card-price {
    margin-bottom: 3px;
    font-size: clamp(0.8rem, 1.2vw, 2.5rem);
}