/* Form Title */
.titleContainer{
    padding: 10px;
    margin: 10px 0px 0px 10px;
}
.titleForm{
    text-align: center;
}
@media (max-width: 1280px) {
    .rowheader{
        flex-direction: column;
        align-items: center;
    }
    .col-4.rowheader{
        width: 100%;
    }
    .titleContainer{
        margin: 5px 0px 0px 0px;
        padding: 5px;
    }
    .clockDisplayContainer.x02time{
        margin: 5px 0px 0px 0px;
        padding: 5px;
    }
    .col-6.rowheader{
        width: 100%;
    }
}

.whiteSpace{
    margin: 30px 0px 0px 30px;
    color: transparent;
}

/* Form - Flavors Selection Buttons */

.btn_sabor_1{
    background-color: #00BFFF !important;
    border-color: #00BFFF !important;
    /* negritas */
    font-weight: bold !important;
}
.btn_sabor_2{
    background-color: #32CD32 !important;
    border-color: #32CD32 !important;
    font-weight: bold !important;
}
.btn_sabor_3{
    background-color: #fcc107 !important;
    border-color: #ffc107 !important;
    font-weight: bold !important;
}
.btn_sabor_4{
    background-color: #ff4500 !important;
    border-color: #ff4500 !important;
    font-weight: bold !important;
}

@media (max-width: 1280px) {
    .rowform{
        flex-direction: column;
        align-items: center;
    }
    .rowclientes{
        flex-direction: column;
        align-items: center;
    }
    .col-4.clientestable{
        width: 80%;
    }
    .col-4.form{
        width: 85%;
    }
    .col-6.getventastable{
        width: 85%;
    }
}